{% extends "base.html" %}

{% block head_title %}Add New Supplier{% endblock %}

{% block content %}
{% load static %}
<div class="container">
<div class="row">
	<div class="col-lg-6">

	{% for message in messages %}
	<p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
	{% endfor %}

	<form action="{% url 'new-supplier' %}" method='post' enctype="multipart/form-data">
		{% csrf_token %}<br/>
		<label>Supplier Name: </label><br/>
		{{ form.supplier_name }}<br/>{{ supplier_name.help_text }}
		<label>VAT number: </label><br/>
		{{ form.vat_number }}<br/>
		<input type="submit" value="SUBMIT" class="btn btn-primary">
		<br/>
	</form>
	</div>
	
</div>
</div>

{% endblock %}
