{% extends "base.html" %}

{% block head_title %}Search Result{% endblock %}

{% block content %}
{% load static %}


<div class="container-fluid">
	
  <div class="row">
    <div class="col-12">

       	  
<!--         <h3>{{ a.supplier_name }}</h3>
        <p>Our ref: {{ a.our_ref }}<p>
        <strong> Invoice date: </strong><p>{{ a.invoice_date }}</p>
        <a href="{{ a.invoice }}"> Download the invoice</a>
        <hr> -->
    	<table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Supplier Name</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Links</th>
          </tr>
        </thead>
        <tbody>
          {% for a in result %}
          <tr>   
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ a.supplier_name }}</td>
            <td>{{ a.invoice_date }}</td>
            <td>£{{ a.invoice_value }}</td>
            <td><a href="{{ a.invoice }}"> Download</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    	<br>
    	
       </div>
    </div>
  </div>
</div>


</div>

{% endblock content %}