{% extends "base.html" %}

{% block customstatic %}
<style type="text/css">

.markdown-body .highlight pre, .markdown-body, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  background-color: #f6f8fa;
  padding: 16px;
  line-height: 1.5;
}
code {
      font-family: Menlo, Monaco, "Courier New", monospace;
      background-color: #f6f8fa;
    }

</style>
{% endblock customstatic %}
{% block content %}
{% load static %}
<!-- Sidebar  -->
<nav id="sidebar" class="wikisidebar">
    <div class="sidebar-header">
        <h3>Linco Care Wiki</h3>
    </div>
    <br>

{% regroup category by parent as subcategory %}  
{% for parent in subcategory %}
    {% if parent.grouper %}
    <ul class="list-unstyled components">
    {{ parent.grouper }} <br>
        {% for i in parent.list %}

            {% regroup wikientry by category as category_list %}
            <ul>
                {% for category in category_list %}
                    {% if category.grouper == i %}
                        <li>+ {{ category.grouper }}
                            <ul>
                                {% for a in category.list %}
                                    <li>{{ a.title }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {%endfor%}
    </ul>
    {% endif %}
    
{% endfor %}


    <ul class="list-unstyled components">


{% for key,value in categories.items %}
        <li>
            <a href="#{{ key }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ key }}</a>

            <ul class="collapse list-unstyled" id="{{ key }}">
                {% for v in value %}
                <li>
                    {{v}}
                </li>
                {% endfor %} 

            </ul>
        </li>
{% endfor %} 

    </ul>


</nav>
<div class="content">


<!-- Page Content  -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn ">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wiki/edit/">
                                <i class="far fa-edit"></i>
                            EDIT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="gap"></div>
       

        {% for a in wikientry %}
        <a href="{% url "wikiview" id=a.id %}">{{ a.title }}</a> <br>
        {% endfor %}

    </div>
</div>


</div>
{% endblock content %}
{% block jquery3 %}
<script type="text/javascript">
$(document).ready(function () {
	$('#sidebarCollapse').on('click',() => {
		$('.wikisidebar').toggle(300);
        $('.content').toggleClass('content-left', 400);
	})
});
</script>
{% endblock jquery3 %}