<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h1>Reviews for {{brand}}</h1>

<span>Product filter:</span>
<!-- Leave brand query strings in these selects, as we use it to grab the products from the products API-->
<select onchange="location = '?sort={{sort_on}}&brand={{brand}}&product=' + this.value + '&page={{this_pages_reviews.number}}';">
	<option value="">Product</option>
	{% for prod_cat_id,prod_cat_name in product_dropdown_info %}
	<option value="{{prod_cat_id}}">{{prod_cat_name}}</option>
	{% endfor %}
</select>

<span style="float: right;">
	<span>Sort by:</span>
	<select onchange="location = '?sort=' + this.value + '&brand={{brand}}&product={{product_qs}}&page={{this_pages_reviews.number}}';">
		<option value="">Sort on</option>
		<option value="unpublished">Unpublished</option>
		<option value="published">Published</option>
		<option value="recent">Recent</option>
		<option value="rating">Rating</option>
		<option value="helpful">Helpful</option>
	</select>
</span>
<br/>
<br/>

{% for review in this_pages_reviews %}
	<span id="review-{{review.id}}">
		title: {{ review.title }}</br>
		content: {{ review.content }}</br>
		name: {{ review.name }}</br>
		email: {{ review.email }}</br>
		location: {{ review.location }}</br>
		date_added_iso: {{ review.date_added_iso }}</br>
		product_category_id: {{ review.product_category_id }}<br/>
		product_category_name: {{ review.product_category_name }}</br>
		upvotes: {{ review.upvotes }}</br>
		downvotes: {{ review.downvotes }}</br>
		approved: {{ review.approved }}</br>
		score: {{ review.score }}</br>
	</span>
	
	<!-- toggleable form -->
	<form id="edit-review-{{review.id}}" class="edit-review" hidden="true">
		
		<label for="approved-{{review.id}}">Approved:</label>
		{% if review.approved %}
		<input id="approved-{{review.id}}" type="checkbox" value="{{review.approved}}" checked="true">
		{% else %}
		<input id="approved-{{review.id}}" type="checkbox" value="{{review.approved}}">
		{% endif %}
		<br/>

		<label for="title-{{review.id}}">Title:</label>
		<input id="title-{{review.id}}" type="text" value="review.title" required>
		<br/>

		<label for="name-{{review.id}}">Name:</label>
		<input id="name-{{review.id}}" type="text" value="{{review.name}}" required>
		<br/>
		
		<label for="email-{{review.id}}">Email:</label>
        <input id="email-{{review.id}}" type="email" value="{{review.email}}" required>
		<br/>
		
		<label for="date-added-{{review.id}}">Date added:</label>
        <input id="date-added-{{review.id}}" type="datetime-local" value="{{review.date_added_iso}}" required>
		<br/>
		
		<label for="location-{{review.id}}">Location:</label>
        <input id="location-{{review.id}}" type="text" value="{{review.location}}" required>
        <br/>
		
		<label for="content-{{review.id}}">Content:</label>
        <textarea id="content-{{review.id}}" value="{{review.content}}" rows="5" required>{{review.content}}</textarea>
        <br/>
		
        <label for="product-category-id-{{review.id}}">Product category ID:</label>
        <input id="product-category-id-{{review.id}}" type="text" value="{{review.product_category_id}}" required>
        <br/>
		
        <label for="score-{{review.id}}">Score:</label>
        <select id="score-{{review.id}}">
            {% if review.score == 1 %}
            	<option value="1" selected>1</option>
            {% else %}
            	<option value="1">1</option>
            {% endif %}

            {% if review.score == 2 %}
            	<option value="2" selected>2</option>
            {% else %}
            	<option value="2">2</option>
            {% endif %}

            {% if review.score == 3 %}
            	<option value="3" selected>3</option>
            {% else %}
            	<option value="3">3</option>
            {% endif %}

            {% if review.score == 4 %}
            	<option value="4" selected>4</option>
            {% else %}
            	<option value="4">4</option>
            {% endif %}

            {% if review.score == 5 %}
            	<option value="5" selected>5</option>
            {% else %}
            	<option value="5">5</option>
            {% endif %}

        </select>
        <br/>
		

        <input type="submit" value="Submit">
	</form>
	<!-- Toggle review/form -->
	<button id="toggle-review-{{review.id}}" class="toggle-review">Edit</button>
	<button id="approve-review-{{review.id}}" class="approve-review">Publish</button>
	<button id="delete-review-{{review.id}}" class="delete-review">Delete</button>


	<!-- <form id="review-update-form-${revId}" class="review-update-form" name="${revId}">
        
    
    </form> -->
	<br/>
	<br/>
{% endfor %}


{% if this_pages_reviews.has_previous %}
    <a href="?page={{ this_pages_reviews.previous_page_number }}&sort={{sort_on}}&brand={{brand}}&product={{product}}">&lt;&lt;</a>
{% endif %}

<form id="page-chooser-form" action="" style="display: inline;">
	Page 
	<input  type="text" name="page" value="{{this_pages_reviews.number}}">
	<input  type="text" name="brand" value="{{brand}}" hidden=true">
	<input  type="text" name="product" value="{{product}}" hidden="true">
	<input  type="text" name="sort" value="{{sort_on}}" hidden="true">
	<input  type="submit" hidden="true">
</form>


{% if this_pages_reviews.has_next %}
    <a href="?page={{ this_pages_reviews.next_page_number }}&sort={{sort_on}}&brand={{brand}}&product={{product}}">&gt;&gt;</a> 
{% endif %}

of {{ this_pages_reviews.paginator.num_pages }}

<script>
	const reviewsApiUrl = "{{ reviews_api_url }}/reviews/";
	// jQuery("#page-chooser-form").submit(function(){
	// 	alert(this)
	// })

	jQuery(".toggle-review").click(function(){
		revId = this.id.replace("toggle-review-", "");
		jQuery("#review-"+revId).toggle();
		jQuery("#edit-review-"+revId).toggle();
	});

	jQuery(".edit-review").submit(function(event){
		event.preventDefault();
		revId = this.id.replace("edit-review-", "");
		
		//grab the id to make the url to put to
		urlToPutTo = reviewsApiUrl + revId;
		
		// Get the data needed to input into putReview
		let updatedProductCategoryId = jQuery(`#product-category-id-${revId}`).val();
		let updatedName = jQuery(`#name-${revId}`).val();
		let updatedEmail = jQuery(`#email-${revId}`).val();
		let updatedScore = jQuery(`#score-${revId}`).val();
		let updatedContent = jQuery(`#content-${revId}`).val();
		let updatedLocation = jQuery(`#location-${revId}`).val();
		let updatedTitle = jQuery(`#title-${revId}`).val();
		let updatedApproved = jQuery(`#approved-${revId}`).is(":checked");

		let updatedDateAdded = jQuery(`#date-added-${revId}`).val();


		let dataToPut = `{
		    "approved": "${updatedApproved}", 
		    "name": "${updatedName}",
		    "productCategoryId": "${updatedProductCategoryId}",
		    "email": "${updatedEmail}",
		    "score": "${updatedScore}",
		    "content": "${updatedContent}",
		    "location": "${updatedLocation}",
		    "title": "${updatedTitle}",
		    "dateAdded": "${updatedDateAdded}"
		}`;

		putReview(dataToPut, urlToPutTo);

	});


	jQuery(".approve-review").click(function(){
		revId = this.id.replace("approve-review-", "");
		
		//grab the id to make the url to put to
		urlToPutTo = reviewsApiUrl + revId;

		dataToPut = '{"approved": "true"}';

		putReview(dataToPut, urlToPutTo);

		// location.reload();
	});



	jQuery(".delete-review").click(function(){
		revId = this.id.replace("delete-review-", "");
		urlToDeleteTo = reviewsApiUrl + revId;
		deleteReview(urlToDeleteTo);
	});

	putReview = function(dataToPut, urlToPutTo){
	    
	    // Update a review
	    jQuery.ajax({
	        url: urlToPutTo,
	        type: 'PUT',
	        dataType: "json", //The data type expected of the server response
	        cache: false,
	        contentType: "application/json; charset=utf-8",
	        data: dataToPut,
	        // data: '{"approved": "true"}',
	        headers: {"X-HTTP-Method-Override": "PUT"},
	        error: function (errormessage) {
	            console.log(errormessage);
	        },
	        success: function(result){
	            console.log("successfully updated");
	            location.reload();
	        },
	    });
	}

	deleteReview = function(urlToDeleteTo){
	    jQuery.ajax({
	        url: urlToDeleteTo,
	        type: 'DELETE',
	        cache: false,
	        contentType: "application/json; charset=utf-8",
	        headers: {"X-HTTP-Method-Override": "PUT"},
	        error: function (errormessage) {
	            console.log(errormessage);
	        },
	        success: function(result){
	            console.log("successfully deleted " + this.name);
				location.reload();
	            
	        },
	    });
	}

</script>


