<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h1>ejnejner</h1>
<select onchange="location = '?sort=' + this.value + '&brand={{brand}}&product={{product}}&page={{this_pages_reviews.number}}';">
	<option value=""></option>
	<option value="unpublished">Unpublished</option>
	<option value="published">Published</option>
	<option value="recent">Recent</option>
	<option value="rating">Rating</option>
	<option value="helpful">Helpful</option>

</select>
<br/>
<br/>


{% for review in this_pages_reviews %}

	{{review.approved}}
	{{review.content}}
	{{review.date_added}}
	{{review.downvotes}}
	{{review.email}}
	{{review.location}}
	{{review.name}}
	{{review.product}}
	{{review.score}}
	{{review.title}}
	{{review.upvotes}}
	<br/>
	<br/>
{% endfor %}


{% if this_pages_reviews.has_previous %}
    <a href="?page={{ this_pages_reviews.previous_page_number }}&sort={{sort_on}}&brand={{brand}}&product={{product}}">&lt;&lt;</a>
{% endif %}

<form id="page_chooser_form" action="" style="display: inline;">
	Page 
	<input  type="text" name="page" value="{{this_pages_reviews.number}}">
	<input  type="text" name="brand" value="{{brand}}" hidden=true">
	<input  type="text" name="product" value="{{product}}" hidden="true">
	<input  type="text" name="sort" value="{{sort_on}}" hidden="true">
	<input  type="submit" hidden="true">
</form>


{% if this_pages_reviews.has_next %}
    <a href="?page={{ this_pages_reviews.next_page_number }}&sort={{sort_on}}&brand={{brand}}&product={{product}}">&gt;&gt;</a> 
{% endif %}

of {{ this_pages_reviews.paginator.num_pages }}

<script>
	// jQuery("#page_chooser_form").submit(function(){
	// 	alert(this)
	// })
</script>


